body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-3 .form-label{
  width: 30%;
}


input.form-control[readOnly]{
    background-color: #f0f0f0;
    color: #555;   
    border: none;           
}
